h1 New Product
form(action='/products' method='post')
  div
    label(for='name') Name
    input(type='text' name='name' placeholder='required field' id='name')

  div
    label(for='price') Price
    input(type='text' name='price' placeholder='required field' id='price')

  div
    label(for='inventory') Inventory
    input(type='text' name='inventory' placeholder='required field' id='inventory')

  div.button
    button(type='submit') Send